@page
@model Rush_Rh.Pages.BuzonSugerencias
@{
    @if(Model.admin){
        Layout = "_LayoutUsuarioRH";
    }
    ViewData["Title"] = "BuzonSugerencias";
}

@section Styles{
    <link rel="stylesheet" href="~/css/buzonSugerencias.css">
}

@{
    
    <div class="contenido"> 
        <div class="titulo1">
            <h1>Sistema RRHH / Buzon de sugerencias:</h1>
        </div>
        <div class="w-100 d-flex justify-content-center">
            <form method="post" class="form_sugerencias" asp-page-handler="FiltrarSugerencias">
                <div class="filtros_sugerencias">
                    <div class="filtro_sugerencia">
                        <label for="tipoSugerencia">Tipo de sugerencia:</label>
                        <select name="TipoSugerenciaId" id="tipoSugerencia" class="form-select">
                            <option value="0">Todos</option>
                            @foreach (var tipo in Model.tiposSugerencias)
                            {
                                <option value="@tipo.Id">@tipo.Nombre</option>
                            }
                        </select>
                    </div>
                    <div class="filtro_sugerencia">
                        <label for="fechaSugerencia">Desde:</label>
                        <input name="FechaRegistroDesde" type="date" id="fechaSugerencia" class="form-control">
                    </div>
                    <div class="filtro_sugerencia">
                        <label for="fechaSugerencia">Hasta:</label>
                        <input name="FechaRegistroHasta" type="date" id="fechaSugerencia" class="form-control">

                    </div>
                    <div class="filtro_sugerencia">
                        <label for="anonimo">Anonimo:</label>
                        <select name="Anonimo" id="anonimo" class="form-select">
                            <option value="2">Todos</option>
                            <option value="1">Si</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                    @if(Model.admin){
                        <div class="filtro_sugerencia">
                            <label for="filtro-Usuario">Usuario:</label>
                            <select name="IdUsuario" id="filtro-Usuario" class="form-select">
                                <option value="0">Todos</option>
                                @foreach (var usuario in Model.usuarios)
                                {
                                    <option value="@usuario.Id">@usuario.Nombre</option>
                                }
                            </select>
                        </div>
                    }
                </div>
                <div class="botones_filtros">
                    <button class="button btn-filtrar_sugerencias" type="submit" title="Filtrar sugerencias">
                        Filtrar
                    </button>
                    <a href="/BuzonSugerencias" class="button btn-limpiar_filtros" type="button" id="btnLimpiarFiltros" title="Limpiar filtros">
                        Limpiar
                    </a>
                </div>
            </form>
            <div class="barra-vertical"></div>
            <div class="recuerda">
                @if(Model.admin){
                    <p class="recordatorio">Recuerda: Es importante responder todas las sugerencias para fomentar la participación.</p>
                }
                else{
                    <p class="recordatorio">Recuerda: Es importante dar tus sugerencias para ayudarnos a mejorar, te responderemos lo más pronto posible.</p>
                }
            </div>

        </div>
        @if(!Model.admin){
            <div class="boton_sugerencia">
                <button class="button" type="button" data-bs-toggle="modal" data-bs-target="#modalCrearSugerencia" title="Ver información complementaria">
                    + Nueva sugerencia
                </button>
            </div>
        }
        <div class="tabla_sugerencias">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        @if(Model.admin){
                            <th scope="col">Usuario</th>
                        }
                        <th scope="col">Tipo de sugerencia</th>
                        <th scope="col">Descripción de sugerencia</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Respuesta</th>
                        @if(!Model.admin){
                            <th scope="col">Anonimo</th>
                        }
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var sugerencia in Model.sugerencias)
                    {
                        <tr>
                            @if(Model.admin){
                                if(sugerencia.Anonima == false){
                                    <td>@sugerencia.Usuario</td>
                                }
                                else{
                                    <td>Anonimo</td>
                                }
                            }
                            <td>@sugerencia.TipoSugerencia</td>
                            <td>@Html.Raw(sugerencia.Contenido)</td>
                            <td>@sugerencia.FechaRegistro.ToString("yyyy-MM-dd")</td>
                            <td>
                                @if(Model.admin){
                                    if(sugerencia.FechaRespuesta == sugerencia.FechaRegistro){
                                        <span class="badge bg-danger">Sin respuesta</span>
                                    }
                                    else{
                                        @sugerencia.Respuesta
                                        <p>Respuesta del: @sugerencia.FechaRespuesta.ToString("yyyy-MM-dd")</p> 
                                    }
                                    
                                }
                                else{
                                    @sugerencia.Respuesta
                                }
                            </td>
                            @if(!Model.admin){
                                <td>@(sugerencia.Anonima ? "Si" : "No")</td>
                            }
                            <td>
                                @if(Model.admin){
                                    <button type="button" value="@sugerencia.Id" name="buttonResponder" class="button" data-bs-toggle="modal" data-bs-target="#modalRespuesta">
                                        Actualizar respuesta
                                    </button>
                                }
                                else{
                                    <form method="post" asp-page-handler="EliminarSugerencia" class="d-inline">
                                        <input type="hidden" name="idSugerencia" value="@sugerencia.Id">
                                        <button type="submit" class="button bg-danger">
                                            Retirar sugerencia
                                        </button>
                                    </form>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal para crear una sugerencia -->
    <div class="modal fade centered" id="modalCrearSugerencia" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modalSugerencia">
            <div class="modal-content">
                <div class="contenedor-boton">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" asp-page-handler="AgregarSugerencia">
                    <div class="modal-body">
                        <h1>Nueva Sugerencia</h1>
                        <div class="inputsDetallesSugerencias">
                            <div>
                                <label for="tipoSugerencia">Tipo de Sugerencia: </label>
                                <select name="agregarSugerencia.TipoSugerencia" id="" required>
                                    <option value="" disabled selected>Seleccione una opción</option>
                                    @foreach (var tipo in Model.tiposSugerencias)
                                    {
                                        <option value="@tipo.Id">@tipo.Nombre</option>
                                    }
                                </select>
                            </div>
                            <div>
                                <label for="anonimo">¿Desea que su sugerencia sea anónima?</label>
                                <div class="radio_anonimo">
                                    <label for="anonimoSi">Sí</label>
                                    <input type="radio" id="anonimoSi" name="agregarSugerencia.Anonima" value="true" required>
                                    <label for="anonimoNo">No</label>
                                    <input type="radio" id="anonimoNo" name="agregarSugerencia.Anonima" value="false">
                                </div>
                            </div>
                        </div>
                        <div class="inputContenido">
                            <label for="descripcion">Explaye su sugerencia aquí:</label>
                            <textarea id="myTextArea" name="agregarSugerencia.Contenido" required></textarea>
                        </div>
                        <button class="button" type="submit">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    @if(Model.admin){
        <!-- Modal para actualizar la respuesta -->
        <div class="modal fade centered" id="modalRespuesta" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modalSugerencia">
                <div class="modal-content">
                    <div class="contenedor-boton">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="post" asp-page-handler="ResponderSugerencia">
                        <div class="modal-body">
                            <h1>Responder Sugerencia</h1>
                            <input type="hidden" name="idSugerencia" id="IdResponderSugerencia" value="">
                            <div class="inputsDetallesSugerencias">
                                <label for="sugerencia">Sugerencia: </label>
                                <p id="sugerenciaResponder"></p>
                            </div>
                            <div class="inputContenido">
                                <label for="descripcion">Responder sugerencia:</label>
                                <textarea class="w-100" id="" name="respuesta" required></textarea>
                            </div>
                            <button class="button" type="submit">Enviar respuesta</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }
}

@section Scripts{
    <script src="~/js/buzonSugerencias.js"></script>
    <script>
        const todasSugerencias = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.sugerencias));

        document.addEventListener("DOMContentLoaded", function() {
            const message = '@Html.Raw(TempData["Message"])';
            const messageType = '@TempData["MessageType"]';

            if (message) {
                Swal.fire({
                    title: messageType === "success" ? "¡Éxito!" : "¡Aviso!",
                    text: message,
                    icon: messageType,
                    confirmButtonText: "Aceptar"
                });
            }            
        });
    </script>
}