@page
@model Rush_Rh.Pages.IncidentesUsuario
@{
    Layout = "_Layout";
    ViewData["Title"] = "IncidentesUsuario";
}
@section Styles{
    <link rel="stylesheet" href="~/css/incidentesUsuario.css" asp-append-version="true" />
}
@{
    <div class="contenido">
        <div class="titulo">
            <h1>Lista de Incidentes:</h1>
            
        </div>
        <div class="incidentes">
            <div class="listaIncidentes">
                <form method="post" asp-page-handler="Acciones">
                    <div class="tablaIncidentes">
                        <table align="center">
                            <thead>
                                <tr>
                                    <th width="12%" align="center">Fecha</th>
                                    <th width="12%" align="center">Tipo</th>
                                    <th width="12%" align="center">Horario</th>
                                    <th width="12%" align="center">Descripcion</th>
                                    <th width="12%" align="center">Evidencia</th>
                                    <th width="12%" align="center">Estatus</th>
                                    <th width="12%" align="center">Enviar/Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var incidente in Model.incidencias)
                                {
                                    var hora = 0;
                                    <tr>
                                        <td align="center">@incidente.FechaIncidencia.ToString("dd/MM/yyyy")</td>
                                        <td align="center">
                                            @foreach (var tipoIncidencia in Model.tiposIncidencias)
                                            {
                                                if (tipoIncidencia.Id == incidente.IdTipoIncidencia)
                                                {
                                                    @tipoIncidencia.Nombre
                                                }
                                            }
                                        </td>
                                        <td align="center">
                                            @if (incidente.HoraSalida != "")
                                            {
                                                hora = 1;
                                                <p>Salida: @(DateTime.Parse(incidente.HoraSalida).ToString("hh:mm tt"))</p>
                                            }
                                            @if (incidente.HoraEntrada != "")
                                            {
                                                hora = 1;
                                                <p>Entrada: @(DateTime.Parse(incidente.HoraEntrada).ToString("hh:mm tt"))</p>
                                            }
                                            @if (hora==0)
                                            {
                                                <p>- - -</p>
                                            }
                                        <td align="center">@incidente.Descripcion</td>
                                        <td align="center">
                                            @if (incidente.IdDocumento != 0)
                                            {
                                                <a href="@incidente.URLDocumento" target="_blank"><span class="material-symbols-outlined">download</span> Archivo</a>
                                            }else{
                                                <span class="archivo_nulo">No hay archivo</span>
                                            }
                                        </td>
                                        @if(incidente.Estatus == "Rechazado")
                                        {
                                            <td align="center">
                                                <div class="d-flex w-100 justify-content-center align-items-center">
                                                    <div data-name="comentario" data-value="@incidente.Id" data-bs-toggle="modal" data-bs-target="#modalComentariosIncidente" class="circle comentario" title="Solicitud rechazada... Ver comentarios"></div>
                                                </div>
                                            </td>
                                        }
                                        else if(incidente.Estatus == "Aprobado")
                                        {
                                            <td align="center">
                                                <div class="d-flex w-100 justify-content-center align-items-center">
                                                    <div data-name="comentario" data-value="@incidente.Id" data-bs-toggle="modal" data-bs-target="#modalComentariosIncidente" class="circle green comentario" title="¡Solicitud aprobada!... Ver comentarios"></div>
                                                </div>
                                            </td>
                                        }
                                        else if(incidente.Estatus == "No enviado")
                                        {
                                            <td align="center">
                                                <div class="d-flex w-100 justify-content-center align-items-center">
                                                    <div class="circle gray" title="Solicitud aún no enviada"></div>
                                                </div>
                                            </td>
                                        }
                                        else
                                        {
                                            <td align="center">
                                                <div class="d-flex w-100 justify-content-center align-items-center">
                                                    <div class="circle yellow" title="Solicitud aún en revisión"></div>
                                                </div>
                                            </td>
                                        }
                                        @if(incidente.Estatus == "No enviado")
                                        {
                                            <td align="center"><input type="checkbox" name="incidenciasSeleccionadas" value="@incidente.Id"></td>
                                        }
                                        else
                                        {
                                            <td align="center"><span class="material-symbols-outlined aviso_enviado m-0" title="Incidente ya enviado">done_all</span></td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="enviarContainer">
                        <button type="submit" name="accion" value="eliminar" title="Eliminar incidentes seleccionados">
                            <div><span class="material-symbols-outlined">delete</span> Eliminar</div>
                        </button>
                        <button type="submit" name="accion" value="enviar" title="Enviar incidentes seleccionados">
                            <div><span class="material-symbols-outlined">send</span> Enviar</div>
                        </button>
                    </div>
                </form>
            </div>
            <div class="opcionesIncidentes">
                @if (Model.incidenciasParaAceptar.Count != 0)
                {
                    <button class="button bg-success" type="button" data-bs-toggle="modal" data-bs-target="#modalAceptarIncidentes"><span class="material-symbols-outlined">check</span>Solicitudes pendientes de aprovación</button>
                }
                <button class="button" type="button" name="crear" data-bs-toggle="modal" data-bs-target="#modalAgregarIncidente"><span class="material-symbols-outlined">add</span>Agregar incidente</button>
                <div>
                    <div class="barra-horizontal"></div>
                    <div class="recordatorio-columna">
                        
                        <p class="recordatorio">
                            Glosario:
                            <img class="tabla_figuras_estatus" src="~/assets/tabla_figuras-estatus.jpg" alt="">
                            <h5 class="recordatorioh5">Nota: Dar clic en la figura para ver comentarios de la incidencia.</h5>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <!-- Modal Agregar Incidente-->
    <div class="modal fade centered" id="modalAgregarIncidente" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modalCrearIncidente">
            <div class="modal-content">
                <div class="contenedor-boton">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h2>Agregar nueva incidencia</h2>
                    <form method="post" enctype="multipart/form-data" asp-page-handler="GuardarIncidencia">
                        <div>
                            <label for="Fecha">Fecha de incidencia</label>
                            <input type="date" class="form-control" id="Fecha" name="incidencia.FechaIncidencia" required>
                            <label for="Tipo de Incidente">Tipo de incidente</label>
                            <select class="form-control" id="TipoIncidente" name="incidencia.IdTipoIncidencia" required>
                                @foreach (var tipoIncidencia in Model.tiposIncidencias)
                                {
                                    <option value="@tipoIncidencia.Id">@tipoIncidencia.Nombre</option>
                                }
                            </select>
                            <div id="Retardo">
                                <label for="Horario de entrada">Hora de ingreso al centro de trabajo (24h)</label>
                                <input type="time" class="form-control" id="horaRetardo" name="incidencia.HoraEntrada">
                            </div>
                            <div id="Salida_temprana">
                                <label for="Horario de salida">Hora de salida del centro de trabajo (24h)</label>
                                <input type="time" class="form-control" id="horaSalidaTemprana" name="incidencia.HoraSalida">
                            </div>
                            <div id="Ausencia_temporal">
                                <label for="Horario de salida">Hora de salida del centro de trabajo (24h)</label>
                                <input type="time" class="form-control" id="horaAusenciaInicio" name="incidencia.HoraSalida">
                                <label for="Horario de regreso">Hora de regreso al centro de trabajo (24h)</label>
                                <input type="time" class="form-control" id="horaAusenciaFin" name="incidencia.HoraEntrada">
                            </div>
                            <label for="Descripcion">Descripción</label>
                            <textarea class="form-control" id="Descripcion" name="incidencia.Descripcion" rows="3" required></textarea>
                            <label for="Archivo">Adjuntar evidencia</label>
                            <input type="file" class="form-control" id="Archivo" name="Archivo">
                        </div>
                        <button type="submit">Agregar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para aceptar o rechazar incidentes -->
    <div class="modal fade centered" id="modalAceptarIncidentes" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modalCrearIncidente">
            <div class="modal-content">
                <div class="contenedor-boton">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h2>Solicitudes para Justificar Incidentes</h2>
                    <form method="post" asp-page-handler="AceptarRechazarIncidencia">
                        <div class="tablaIncidentes w-100">
                            <table align="center">
                                <thead>
                                    <tr>
                                        <th width="12%" align="center">Nombre Completo</th>
                                        <th width="12%" align="center">Fecha</th>
                                        <th width="12%" align="center">Tipo</th>
                                        <th width="12%" align="center">Horario</th>
                                        <th width="12%" align="center">Descripcion</th>
                                        <th width="12%" align="center">Evidencia</th>
                                        <th width="12%" align="center"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var incidente in Model.incidenciasParaAceptar)
                                    {
                                        var hora = 0;
                                        <tr>
                                            <td align="center">@incidente.NombreUsuario @incidente.ApellidoPaternoUsuario @incidente.ApellidoMaternoUsuario</td>
                                            <td align="center">@incidente.FechaIncidencia.ToString("dd/MM/yyyy")</td>
                                            <td align="center">
                                                @foreach (var tipoIncidencia in Model.tiposIncidencias)
                                                {
                                                    if (tipoIncidencia.Id == incidente.IdTipoIncidencia)
                                                    {
                                                        @tipoIncidencia.Nombre
                                                    }
                                                }
                                            </td>
                                            <td align="center">
                                                @if (incidente.HoraSalida != "")
                                                {
                                                    hora = 1;
                                                    <p>Salida: @(DateTime.Parse(incidente.HoraSalida).ToString("hh:mm tt"))</p>
                                                }
                                                @if (incidente.HoraEntrada != "")
                                                {
                                                    hora = 1;
                                                    <p>Entrada: @(DateTime.Parse(incidente.HoraEntrada).ToString("hh:mm tt"))</p>
                                                }
                                                @if (hora==0)
                                                {
                                                    <p>- - -</p>
                                                }
                                            <td align="center">@incidente.Descripcion</td>
                                            <td align="center">
                                                @if (incidente.IdDocumento != 0)
                                                {
                                                    <a href="@incidente.URLDocumento" target="_blank"><span class="material-symbols-outlined">download</span> Archivo</a>
                                                }else{
                                                    <span class="archivo_nulo">No hay archivo</span>
                                                }
                                            </td>
                                            <td align="center"><button type="submit" value="@incidente.Id" name="aceptada">Aceptar</button><button type="submit" value="@incidente.Id" name="rechazada" class="rechazar">Rechazar</button></td>

                                            
                                        </tr>  
                                    }
                                </tbody>
                            </table>
                        </div>
                        @* <button type="button" class="button" title="Historial de solicitudes aprobadas y rechazadas">Ver historial</button> *@
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para mostrar comentarios del estatus de la incidencia -->
    <div class="modal fade centered" id="modalComentariosIncidente" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modalCrearIncidente">
            <div class="modal-content">
                <div class="contenedor-boton">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h2 id="cEstado">Comentarios de la incidencia</h2>
                    <div class="inputUsuario">
                        <h4>Comentarios:</h4>
                        <p id="contenidoComentario" class="recordatorio">Sin comentarios de la incidencia</p>
                    </div>
                    <button type="button" class="button" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>


}
@section Scripts{
    <script src="~/js/incidentesUsuario.js" asp-append-version="true"></script>
    <script>
        const incidentes = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.incidencias));
        document.addEventListener("DOMContentLoaded", function() {
            const message = '@Html.Raw(TempData["Message"])';
            const messageType = '@TempData["MessageType"]';

            if (message) {
                Swal.fire({
                    title: messageType === "success" ? "¡Éxito!" : "¡Aviso!",
                    text: message,
                    icon: messageType,
                    confirmButtonText: "Aceptar"
                });
            }            
        });
        @* document.addEventListener("DOMContentLoaded", function() {
            var video = document.getElementById("cumple");
            video.src = "https://www.youtube.com/embed/5QNXO5MGBEA?autoplay=0&rel=0&showinfo=0";
            var myModal = new bootstrap.Modal(document.getElementById('miModal'));
            myModal.show();  // Muestra el modal automáticamente, si es el cumpleaños del usuario
        }); *@
    </script>
}