@page
@model Rush_Rh.Pages.PerfilUsuario
@{
    if(!Model.paginaPropia){
        Layout = "_LayoutUsuarioRH";
    }
    ViewData["Title"] = "PerfilUsuario";
}

@section Styles {
    <link rel="stylesheet" href="~/css/perfilUsuario.css">
}

@{
    @if(Model.Usuario!=null){
        <div class="contenido">
            
                <div id="sectionUp">
                    @if(!Model.paginaPropia){
                        <div class="titulo1">
                            <h1>Sistema RRHH / Perfil asociado:</h1>
                            <div class="botones_superiores">
                                <button type="button" data-bs-toggle="modal" data-bs-target="#modalExtraInfo" title="Ver información complementaria">
                                    <span class="material-symbols-outlined">visibility</span>
                                    Ver más información
                                </button>
                                <form method="get" action="/InformacionComplementaria">
                                    <input type="hidden" name="id" value="@HttpContext.Request.Query["id"]" />
                                    <button type="submit" title="Agregar información complementaria">
                                        <span class="material-symbols-outlined">library_add</span>
                                        Agregar más información
                                    </button>       
                                </form>
                                <button type="button" title="Editar datos" onclick="editarDatos()">
                                    <span class="material-symbols-outlined">edit</span>
                                    Editar
                                </button> 
                            </div>
                        </div>
                    }
                    else{
                        <div class="titulo1 margenTitulo">
                            <h1>Sistema RRHH / Perfil asociado:</h1>
                            <div class="botones_superiores">
                                <button type="button" data-bs-toggle="modal" data-bs-target="#modalExtraInfo" title="Ver información complementaria">
                                    <span class="material-symbols-outlined">visibility</span>
                                    Ver más información
                                </button>
                                <button type="button" data-bs-toggle="modal" data-bs-target="#modalCambioPassword" title="Ver información complementaria">
                                    <span class="material-symbols-outlined">password</span>
                                    Cambio de contraseña
                                </button>
                            </div>
                        </div>
                    }
                    
                    <div class="info_usuario">
                        <form method="post" asp-page-handler="EditarDatos">
                            <input type="hidden" name="editar.Id" value="@HttpContext.Request.Query["id"]">
                            <div class="row">
                                <div class="form-group">
                                    <label for="nombres">Nombre(s):</label>
                                    <input class="inputE" type="text" value="@Model.Usuario.Nombre" name="editar.Nombre" id="" disabled>
                                    
                                </div>
                                <div class="form-group">
                                    <label for="apellidoPaterno">Apellido Paterno:</label>
                                    <input class="inputE" type="text" value="@Model.Usuario.ApellidoPaterno" name="editar.ApellidoPaterno" id="" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="apellidoMaterno">Apellido Materno:</label>
                                    <input class="inputE" type="text" value="@Model.Usuario.ApellidoMaterno" name="editar.ApellidoMaterno" id="" disabled>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label for="puesto">Puesto:</label>
                                    @if(Model.cardexLleno){
                                        @foreach(var departamento in Model.departamentos)
                                        {
                                            <div id="cargo-@departamento.Id" class="cargo-select hidden">
                                                <select name="cardex.IdPuesto" class="cargoInput inputE" disabled>
                                                    @foreach(var puesto in Model.puestos)
                                                    {
                                                        @if(puesto.IdDepartamento == departamento.Id)
                                                        {
                                                            @if(Model.cardx.IdPuesto==puesto.Id){
                                                                <option value="@puesto.Id" selected>@puesto.Nombre</option>
                                                            }
                                                            else{
                                                                <option value="@puesto.Id">@puesto.Nombre</option>
                                                            }
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        }

                                        @* @foreach(var puesto in Model.puestos){
                                            @if (Model.cardx.IdPuesto==puesto.Id){
                                                <input class="inputE" type="text" value="@puesto.Nombre" name=" " id="" disabled>
                                            }
                                        } *@
                                    }
                                    else{
                                        <input type="hidden" name="cardexLleno" value="false">
                                        <input class="input" type="text" value="Aun no asignado" id="" disabled>
                                    }
                                </div>
                                <div class="form-group">
                                    <label for="sexo">Departamento:</label>
                                    @if(Model.cardexLleno){
                                        <select id="departamentoSelect1" class="inputE" disabled>
                                            @foreach(var puesto in Model.puestos){
                                                if(Model.cardx.IdPuesto==puesto.Id){
                                                    @foreach(var departamento in Model.departamentos){
                                                        if(departamento.Id==puesto.IdDepartamento){
                                                            <option value="@departamento.Id" selected>@departamento.Nombre</option>
                                                        }
                                                        else{
                                                            <option value="@departamento.Id">@departamento.Nombre</option>
                                                        }
                                                    }
                                                }
                                            }
                                        </select>
                                        @* @foreach(var puesto in Model.puestos){
                                            if(Model.cardx.IdPuesto==puesto.Id){
                                                @foreach (var departamento in Model.departamentos){
                                                    @if(departamento.Id==puesto.IdDepartamento){
                                                        <input class="inputE" type="text" value="@departamento.Nombre" name=" " id="" disabled>
                                                    }
                                                }
                                            }
                                        } *@
                                    }
                                    else{
                                        <input class="input" type="text" value="Aun no asignado" name=" " id="" disabled>
                                    }
                                </div>
                                <div class="form-group">
                                    <label for="Estatus Usuario">Estatus:</label>
                                    @foreach(var estatus in Model.estatusUsuario){
                                        if (Model.Usuario.IdEstatusUsuario==estatus.Id){
                                            <input class="input" type="text" value="@estatus.Nombre" title="El estatus se modifica en la sección Kardex" name=" " id="" disabled>
                                        }
                                    }
                                    @* <select id="selectEstatusUsuario" class="inputE" name="editar.IdEstatusUsuario" title="El estatus se modifica en la sección Kardex" disabled> 
                                        @foreach(var estatus in Model.estatusUsuario){
                                            if (Model.Usuario.IdEstatusUsuario==estatus.Id){
                                                <option value="@estatus.Id" selected>@estatus.Nombre</option>
                                            }
                                            else{
                                                <option value="@estatus.Id">@estatus.Nombre</option>
                                            }
                                        }
                                    </select> *@
                                </div>
                                <div class="form-group">
                                    <label for="estadocivil">NUE:</label>
                                    <input class="inputE" type="text" value="@Model.Usuario.NUE" name="editar.NUE" disabled>
                                </div>
                            </div> 
                            @if(Model.Usuario.CorreoElectronico!=null){
                                <div class="row">
                                    <div class="form-group">
                                        <label for="fechanacimiento">Contacto:</label>
                                        <input class="inputE" type="email" value="@Model.Usuario.CorreoElectronico" name="editar.CorreoElectronico" id="" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label for="fechanacimiento">Teléfono:</label>
                                        <input class="inputE" type="text" value="@Model.Usuario.Celular" name="editar.Celular" id="" disabled>

                                    </div>
                                </div>
                            }
                            else{
                                <div class="row">
                                    <div class="form-group">
                                        <label for="fechanacimiento">Contacto:</label>
                                        <input type="hidden" name="infoContacto" value="false">
                                        <input class="input" type="text" value="Sin correo ingresado" name=" " id="" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label for="fechanacimiento">Teléfono:</label>
                                        <input class="input" type="text" value="Sin número ingresado" name=" " id="" disabled>
                                    </div>
                                </div>
                            }
                            <div class="final-section">
                                <div class="inputs-columna">
                                    <div class="form-group">
                                        <label for="TipoUsuario">Tipo de usuario (Becario/Nomina/Honorario):</label>
                                        <select class="inputE" name="editar.IdTipoUsuario" id="selectTipoUsuario" disabled>
                                            @foreach(var tipo in Model.tiposUsuarios){
                                                if (Model.Usuario.IdTipoUsuario==tipo.Id){
                                                    <option value="@tipo.Id" selected>@tipo.Nombre</option>
                                                }
                                                else{
                                                    <option value="@tipo.Id">@tipo.Nombre</option>
                                                }
                                            }
                                        </select>
                                        @* @foreach(var tipo in Model.tiposUsuarios){
                                            if (Model.Usuario.IdTipoUsuario==tipo.Id){
                                                <input type="text" value="@tipo.Nombre" name=" " id="" disabled>
                                            }
                                        } *@
                                        
                                    </div>
                                    @if(!Model.paginaPropia){ @* Para que no accedan inspeccionando xd *@
                                        <div class="form-group">
                                            <button type="submit" class="button hidden" id="btnGuardar">Guardar</button>
                                        </div>
                                    }
                                </div>
                                <div class="barra-vertical"></div>
                                <div class="recordatorio-columna">
                                    <p class="recordatorio">
                                        Recuerda: <br> <br>
                                        Cualquier cambio que tengas, tienes que notificarlo directamente con el/la encargada de RH <br>
                                    </p>
                                    <button type="button" onclick="scrollToSectionDown()"><span class="material-symbols-outlined">keyboard_double_arrow_down</span></button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>

                <div id="sectionDown">
                    <div class="titulo2">
                        <h1>Sistema RRHH / Administración de incidencias:</h1>
                        <button onclick="scrollToSectionUp()"><span class="material-symbols-outlined">keyboard_double_arrow_up</span></button>
                    </div>
                    <div class="row final-imagen">
                        <div class="imagen_usuario">
                            @if(Model.Usuario.IdDocumento.URL!=null && Model.Usuario.IdDocumento.URL!=""){
                                <img src="@Model.Usuario.IdDocumento.URL" alt="Foto de perfil">
                            }
                            else{
                                <img src="~/assets/icon-usuario-cabecera.svg" alt="Foto de perfil">
                            }
                            <span class="recordatorio d-flex justify-content-center text-center">
                                @Model.Usuario.Nombre @Model.Usuario.ApellidoPaterno @Model.Usuario.ApellidoMaterno
                            </span>
                        </div>
                        <div>
                            <div>
                                <div class="row">
                                    <div class="form-group">
                                        <label for="nombres">Asistencia</label>
                                        <p class="input">17</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="apellidoPaterno">Retardos</label>
                                        <p class="input">2</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="apellidoMaterno">Omisiones</label>
                                        <p class="input">--/--</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label for="nombres">Permisos</label>
                                        <p class="input">0/3</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="apellidoPaterno">Faltas</label>
                                        <p class="input">1</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="apellidoMaterno">Licencia Médica</label>
                                        <p class="input">--/--</p>
                                    </div>
                                </div>
                                <div class="row mb-5">
                                    <div class="form-group">
                                        <label for="nombres">Sanciones</label>
                                        <p class="input">--/--</p>
                                    </div>
                                    @* @if(Model.paginaPropia){
                                        <div class="form-group botones_superiores linkIncidencias">
                                            
                                            <a href="/PermisoLicencias">Pedir Vacaciones/Licencias</a>
                                        </div>
                                    } *@
                                </div>
                            </div>
                            <div>
                                <div class="recordatorio-columna flex-column">
                                    <p class="recordatorio">
                                        Recuerda:
                                    </p>
                                    <div class="barra-horizontal"></div>
                                    <p class="recordatorio">
                                        Cualquier cambio que tengas, tienes que notificarlo directamente con el/la encargada de RH
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <!-- Modal Info Adicional-->
        <div class="modal fade centered" id="modalExtraInfo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modalInfo">
                <div class="modal-content">
                    <div class="contenedor-boton">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                        <div class="modal-body">
                            <div class="modal_titulo">
                                <div class="w-50">
                                    <h1>@Model.Usuario.Nombre @Model.Usuario.ApellidoPaterno @Model.Usuario.ApellidoMaterno</h1>
                                    
                                    @if(Model.cardexLleno){
                                        @foreach(var puesto in Model.puestos){
                                            if(Model.cardx.IdPuesto==puesto.Id){
                                                @foreach (var departamento in Model.departamentos){
                                                    @if(departamento.Id==puesto.IdDepartamento){
                                                        <h4>Departamento de @departamento.Nombre</h4>
                                                    }
                                                }
                                            }
                                        }
                                    }
                                </div>
                                <div class="botones_superiores boton_agregar">
                                    @if(!Model.paginaPropia){
                                        <div class="dropdown">
                                            <button class="button" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                ...
                                            </button>
                                            <ul class="dropdown-menu boton_restablecer">
                                                <form method="post" asp-page-handler="RestablecerPassword">
                                                    <input type="hidden" name="editar.Id" value="@HttpContext.Request.Query["id"]" />
                                                    <li><button class="button" type="submit">Restablecer contraseña</button></li>
                                                </form>
                                            </ul>
                                        </div>
                                    }
                                    <button class="button" type="button" data-bs-toggle="modal" data-bs-target="#modalCardex" >
                                        <span class="material-symbols-outlined">id_card</span>
                                        Kardex
                                    </button>
                                    <h4>NUE: @Model.Usuario.NUE</h4>
                                </div>
                            </div>
                            <div class="barra-horizontal mb-3"></div>
                            <div class="datos_contacto">
                                <div class="mb-4">
                                    <h4>Datos Contacto</h4>
                                </div>
                                @if(Model.Domicilio!=null){
                                    <div class="datos_contenedor">
                                        <div class="datos_contenedor-seccion">
                                            <h4>Direccion</h4>
                                        </div>
                                        <div class="d-flex flex-column datos_contenedor-seccion">
                                            <h4>@Model.Domicilio.Calle #@Model.Domicilio.Numero, @Model.Domicilio.Colonia, @Model.Domicilio.Municipio, @Model.Domicilio.Estado</h4>
                                            <h4>Fecha de nacimiento: @Model.Usuario.FechaNacimiento?.ToShortDateString()</h4>
                                            <h4>CURP. @Model.Usuario.CURP</h4>
                                            <h4>RFC. @Model.Usuario.RFC</h4>
                                            <h4>Idiomas: </h4>
                                            <div class="d-flex flex-column w-100">
                                                <div class="d-flex flex-row w-100">
                                                    <h4 class="w-50">Idioma</h4>
                                                    <h4 class="w-50">%</h4>
                                                </div>
                                                @foreach(var idioma in Model.IdiomasUsuario){
                                                    <div class="d-flex flex-row w-100">
                                                        <h5 class="w-50">@idioma.Nombre</h5>
                                                        <h5 class="w-50">@idioma.NivelHablado</h5>
                                                    </div> 
                                                }
                                            </div>
                                        </div>
                                        <div class="d-flex flex-column datos_contenedor-seccion">
                                            <div class="d-flex flex-row">
                                                <h4 class="num-correo-contacto">Numero de contacto: </h4>
                                                <div class="d-flex flex-column">
                                                    <h4>
                                                        
                                                    </h4>
                                                    <h4>
                                                        Cel. @Model.Usuario.Celular?.ToString()
                                                    </h4>
                                                </div>
                                            </div>
                                            <div class="d-flex flex-row">
                                                <h4 class="num-correo-contacto">Correo: </h4>
                                                <h4>@Model.Usuario.CorreoElectronico</h4>
                                            </div>
                                            <h4 class="mt-3">DATOS ASISTENCIA</h4>
                                            <div class="d-flex flex-row">
                                                <h4 class="num-correo-contacto">Retardos</h4>
                                                <h4>2</h4>
                                            </div>
                                            <div class="d-flex flex-row">
                                                <h4 class="num-correo-contacto">Permisos</h4>
                                                <h4>2/3</h4>
                                            </div>
                                            <div class="d-flex flex-row">
                                                <h4 class="num-correo-contacto">Faltas</h4>
                                                <h4>1</h4>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else{
                                    @if(!Model.paginaPropia){
                                        <form method="get" action="/InformacionComplementaria">
                                            <div class="botones_superiores">
                                                <input type="hidden" name="id" value="@HttpContext.Request.Query["id"]" />
                                                <button type="submit" title="Agregar información complementaria">
                                                    <span class="material-symbols-outlined">library_add</span>
                                                    Aún no hay más información, por favor agreguela
                                                </button>
                                            </div>
                                        </form>
                                    }
                                    else{
                                        <p class="recordatorio">
                                            Aún no hay más información, por favor contactese con RH para que sea agregada
                                        </p>
                                    }
                                }
                            </div>
                        </div>
                </div>
            </div>
        </div>


        <!-- Modal Kardex-->
        <div class="modal fade centered" id="modalCardex" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modalInfo">
                <div class="modal-content">
                    <div class="contenedor-boton">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post" asp-page-handler="BajaCardex" id="darBaja">@*Es mandado llamar con el botón para dar de baja un kardex*@
                            @if(Model.cardexLleno){
                                <input type="hidden" id="IdCardex-Baja" name="cardex.Id" value="@Model.cardx.Id" />
                                <input type="hidden" id="IdUsuario-Baja" name="cardex.IdUsuario" value="@HttpContext.Request.Query["id"]" />
                            }
                        </form>
                        <form method="post" asp-page-handler="BajaCardex" id="darBajaKardex">@*Es mandado llamar con el botón para dar de baja un kardex*@
                            @if(Model.cardexLleno){
                                <input type="hidden" id="IdCardex-Baja" name="cardex.Id" value="@Model.cardx.Id" />
                                <input type="hidden" id="IdUsuario-Baja" name="cardex.IdUsuario" value="@HttpContext.Request.Query["id"]" />
                                <input type="hidden" name="cardexBaja" value="true" />
                            }
                        </form>
                        <form method="post" asp-page-handler="GuardarCardex">
                            <input type="hidden" id="IdUsuario-Cardex" name="cardex.IdUsuario" value="@HttpContext.Request.Query["id"]" />
                            <div class="modal_titulo">
                                <div class="w-50">
                                    <h1>@Model.Usuario.Nombre @Model.Usuario.ApellidoPaterno @Model.Usuario.ApellidoMaterno</h1>
                                    @if(Model.cardexLleno){
                                        @foreach(var puesto in Model.puestos){
                                            if(Model.cardx.IdPuesto==puesto.Id){
                                                @foreach (var departamento in Model.departamentos){
                                                    @if(departamento.Id==puesto.IdDepartamento){
                                                        <h4>Departamento de @departamento.Nombre</h4>
                                                    }
                                                }
                                            }
                                        }
                                    }
                                </div>
                                <div class="boton_agregar">
                                    
                                    <h4>NUE: @Model.Usuario.NUE</h4>
                                </div>
                            </div>
                            <div class="barra-horizontal mb-3"></div>
                            @if (Model.cardexLleno){ @*Si ya hay un kardex activo del usuario*@
                                <div class="datos_contacto d-flex flex-row">
                                    <div class="w-50">
                                        <label for="lugarLaborar">Lugar de laborar:</label>
                                        @foreach(var oficina in Model.oficinas){
                                            if (Model.cardx.IdOficina==oficina.Id){
                                                <h4>@oficina.Nombre</h4>
                                            }
                                        }
                                        
                                        <div class="d-flex flex-row justify-content-between">
                                            <div class="fechas-cardex">
                                                <label for="Inicio">Inicio:</label>
                                                <h4>@Model.cardx.FechaInicio.ToString("d")</h4>
                                            </div>
                                            <div class="fechas-cardex">
                                                <label for="Termino">Termino:</label>
                                                <h4>@Model.cardx.FechaTermino.ToString("d")</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w-50">
                                        <label for="Cargo">Puesto:</label>
                                        @foreach(var puesto in Model.puestos){
                                            if (Model.cardx.IdPuesto==puesto.Id){
                                                <h4>@puesto.Nombre</h4>
                                            }
                                        }
                                    </div>
                                </div>
                                <div class="botones-cardex">
                                    <button type="button" class="button" data-bs-dismiss="modal" aria-label="Close">Salir</button>
                                    @if(!Model.paginaPropia){
                                        <button type="button" class="button" onclick="document.getElementById('darBajaKardex').submit();">Dar de baja Kardex</button>
                                        <button type="button" class="button" onclick="document.getElementById('darBaja').submit();">Dar de baja</button>
                                    }
                                </div>
                            }
                            else{ @*Si no hay un kardex activo del usuario*@
                                @if(!Model.paginaPropia){ @*Si entró a un perfil de un tercero*@
                                    <div class="datos_contacto d-flex flex-row">
                                        <div class="w-50">
                                            <label for="lugarLaborar">Lugar de laborar:</label>
                                            <select name="cardex.IdOficina" id="">
                                                @foreach(var oficina in Model.oficinas)
                                                {
                                                    <option value="@oficina.Id">@oficina.Nombre</option>
                                                }
                                            </select>
                                            <div class="d-flex flex-row">
                                                <div class="fechas-cardex">
                                                    <label for="Inicio">Inicio:</label>
                                                    <input type="date" name="cardex.FechaInicio" id="fechaInicio" required> @*Agregar para filtro minimo fechaactual min="@DateTime.Now.ToString("yyyy-MM-dd")"*@
                                                </div>
                                                <div class="fechas-cardex">
                                                    <label for="Termino">Termino:</label>
                                                    <input type="date" name="cardex.FechaTermino" id="fechaTermino" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cardex_puesto">
                                            <!-- Select de Departamentos -->
                                            <div>
                                                <label for="Departamento">Departamento:</label>
                                                <select id="departamentoSelect" required>
                                                    <option value="">Seleccione un departamento</option>
                                                    @foreach(var departamento in Model.departamentos)
                                                    {
                                                        <option value="@departamento.Id">@departamento.Nombre</option>
                                                    }
                                                </select>
                                            </div>

                                            <!-- Selects de Cargos (uno por departamento) -->
                                            @foreach(var departamento in Model.departamentos)
                                            {
                                                <div id="cargo-@departamento.Id" class="cargo-select hidden">
                                                    <label for="Cargo">Puesto:</label>
                                                    <select name="cardex.IdPuesto" class="cargoInput">
                                                        <option value="">Seleccione un puesto</option>
                                                        @foreach(var puesto in Model.puestos)
                                                        {
                                                            @if(puesto.IdDepartamento == departamento.Id)
                                                            {
                                                                <option value="@puesto.Id">@puesto.Nombre</option>
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                            }
                                        </div>

                                    </div>
                                    <div class="botones-cardex">
                                        <button type="button" class="button" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
                                        <button type="submit" class="button">Confirmar</button>
                                    </div>

                                }
                                else{ @*Si es el usuario es el propietario del perfil*@
                                    <p class="recordatorio">
                                        Aún no hay un kardex, por favor contactese con RH para que sea agregado
                                    </p>
                                }
                            }
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Cambiar contraseña-->
        <div class="modal fade centered" id="modalCambioPassword" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modalInfo">
                <div class="modal-content">
                    <div class="contenedor-boton">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post" asp-page-handler="CambiarPassword">
                            <div class="modal_titulo">
                                <div class="w-50">
                                    <h1>@Model.Usuario.Nombre @Model.Usuario.ApellidoPaterno @Model.Usuario.ApellidoMaterno</h1>
                                    @if(Model.cardexLleno){
                                        @foreach(var puesto in Model.puestos){
                                            if(Model.cardx.IdPuesto==puesto.Id){
                                                @foreach (var departamento in Model.departamentos){
                                                    @if(departamento.Id==puesto.IdDepartamento){
                                                        <h4>Departamento de @departamento.Nombre</h4>
                                                    }
                                                }
                                            }
                                        }
                                    }
                                </div>
                                <div class="boton_agregar">
                                    
                                    <h4>NUE: @Model.Usuario.NUE</h4>
                                </div>
                            </div>
                            <div class="barra-horizontal mb-3"></div>
                            <div class="datos_contacto">
                                <div class="w-50">
                                    <label for="Nueva contraseña">Nueva contraseña</label>
                                    <input type="password" class="mb-3" name="nuevaContrasenia" id="password" onkeyup="validarTodo()" required>
                                    <p id="mensaje"></p>
                                    <label for="Confirmar contraseña">Confirmar contraseña</label>
                                    <input type="password" name="confirmarContrasena" id="confirmPassword" onkeyup="validarTodo()" required>
                                    <p id="mensajeConfirmacion"></p>
                                </div>
                                <div class="w-50 d-flex flex-row">
                                    <div class="barra-vertical"></div>
                                    <p class="recordatorio">
                                        <br>
                                        Deben ser al menos 8 dígitos, contener al menos unun número, una letra mayúscula y una minúscula.
                                    </p>
                                </div>
                            </div>
                            <div class="botones-cardex">
                                <button type="button" class="button" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
                                <button type="submit" class="button" id="btnConfirmarContrasenia" disabled>Confirmar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    }
}
@section Scripts {
    <script src="~/js/perfilUsuarios.js"></script>
    <script>
        
        document.addEventListener("DOMContentLoaded", function() {
            const message = '@Html.Raw(TempData["Message"])';
            const messageType = '@TempData["MessageType"]';

            if (message) {
                Swal.fire({
                    title: messageType === "success" ? "¡Éxito!" : "¡Aviso!",
                    text: message,
                    icon: messageType,
                    confirmButtonText: "Aceptar"
                });
            }
            var fechaInicio = document.getElementById("fechaInicio");
            var fechaTermino = document.getElementById("fechaTermino");

            fechaInicio.addEventListener("change", function() {
                // Asegurar que la fecha de término no sea menor a la de inicio
                fechaTermino.min = fechaInicio.value;
            });
        });
    </script>
}