@page
@model Rush_Rh.Pages.PermisoLicencias
@{
    ViewData["Title"] = "Permiso Licencias";
    if (Model.TipoAccion == "confirmarLicencia" || Model.TipoAccion == "confirmarVacacion"){
        Layout = "_LayoutUsuarioRH";
    }
    var Permiso = Model.Permiso;
    var Año = Model.Año;
    var Mes = Model.Mes;
}

@section Styles{
    <link rel="stylesheet" href="~/css/permisos.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
}

<!-- Contenedor Principal de Licencias -->
<div class="contenido">

    <div class="header">
        <div class="titulo">
            <h1 id="tituloPagina">Sistema RRHH / Permisos Laborales/ Licencias</h1>
        </div>  
    </div> 
    <!--Para cuando algun usuario normal tiene que aprobar algun permiso-->
    @if(@Model.TipoAccion == "confirmarLicenciaJefe" || @Model.TipoAccion == "confirmarVacacionJefe"){
        <div class="filtrosPermisos">
            <form method="get" asp-page="PermisoLicencias">
                <div class="filtroPermisos">
                    <label for="tipoPermiso">Tipo Permiso:</label>
                    <select name="accion">
                        <option value="confirmacionLicenciaJefe" selected="@(Permiso == "confirmacionLicenciaJefe" ? "selected" : null)">Licencias</option>
                        <option value="confirmacionVacacionJefe" selected="@(Permiso == "confirmacionVacacionJefe" ? "selected" : null)">Vacaciones</option>
                    </select>
                </div>
                <div class="filtroPermisos">
                    <button type="submit" class="btnFiltrarPermisos">Filtrar Permisos</button>
                </div>
            </form>
            
            @if(@Model.TipoAccion == "confirmarLicenciaJefe"){
                <div class="filtroPermisos">
                    <form method="get" asp-page="PermisoLicencias">
                        <input type="hidden" name="accion" value="solicitarLicencia"/>
                        <button type="submit" id="botonVacaciones" class="btnAprobarPermisos">Mis Licencias</button>
                    </form>
                </div>
            }
            @if(@Model.TipoAccion == "confirmarVacacionJefe"){
                <div class="filtroPermisos">
                    <form method="get" asp-page="PermisoLicencias">
                        <input type="hidden" name="accion" value="solicitarVacacion"/>
                        <button type="submit" id="botonVacaciones" class="btnAprobarPermisos">Mis Vacaciones</button>
                    </form>
                </div>
            }  
        </div>
    }
    
    <!--Para que los usuarios soliciten y vean su historial de permisos--> 
    @if(@Model.TipoAccion == "solicitarLicencia" || @Model.TipoAccion == "solicitarVacacion"){
        <div class="filtrosPermisos">
            <form method="get" asp-page="PermisoLicencias">
                <div class="filtroPermisos">
                    <label for="tipoPermiso">Tipo Permiso:</label>
                    <select name="accion">
                        <option value="solicitarLicencia" selected="@(Permiso == "solicitarLicencia" ? "selected" : null)">Licencias</option>
                        <option value="solicitarVacacion" selected="@(Permiso == "solicitarVacacion" ? "selected" : null)">Vacaciones</option>
                    </select>
                </div>

                <div class="filtroPermisos">
                    <label for="año">Año:</label>
                    <select id="selectAnio" name="año">
                        
                    </select>
                </div>

                <div class="filtroPermisos">
                    <label for="mes">Mes:</label>
                    <select id="selectMes" name="mes">
                        <option value="1" selected="@(Mes == 1 ? "selected" : null)">Enero</option>
                        <option value="2" selected="@(Mes == 2 ? "selected" : null)">Febrero</option>
                        <option value="3" selected="@(Mes == 3 ? "selected" : null)">Marzo</option>
                        <option value="4" selected="@(Mes == 4 ? "selected" : null)">Abril</option>
                        <option value="5" selected="@(Mes == 5 ? "selected" : null)">Mayo</option>
                        <option value="6" selected="@(Mes == 6 ? "selected" : null)">Junio</option>
                        <option value="7" selected="@(Mes == 7 ? "selected" : null)">Julio</option>
                        <option value="8" selected="@(Mes == 8 ? "selected" : null)">Agosto</option>
                        <option value="9" selected="@(Mes == 9 ? "selected" : null)">Septiembre</option>
                        <option value="10" selected="@(Mes == 10 ? "selected" : null)">Octubre</option>
                        <option value="11" selected="@(Mes == 11 ? "selected" : null)">Noviembre</option>
                        <option value="12" selected="@(Mes == 12 ? "selected" : null)">Diciembre</option>
                    </select>
                </div>


                <div class="filtroPermisos">
                    <button type="submit" class="btnFiltrarPermisos">Filtrar Permisos</button>
                </div>
                
            </form>

            
            @if(@Model.idPuesto == 3){
                <div class="filtroPermisos">
                    <form method="get" asp-page="PermisoLicencias">
                        <input type="hidden" name="accion" value="confirmacionLicencia"/>
                        <button type="submit" id="botonVacaciones" class="btnAprobarPermisos">Confirmar Permisos</button>
                    </form>
                </div>
            } else if (@Model.TengoSolicitudesLicencias == true){
                <div class="filtroPermisos">
                    <form method="get" asp-page="PermisoLicencias">
                        <input type="hidden" name="accion" value="confirmacionLicenciaJefe"/>
                        <button type="submit" id="botonconfirmarLicenciasJefe" class="btnAprobarPermisos">Tienes solicitudes</button>
                    </form>
                </div>
            } else if (@Model.TengoSolicitudesVacaciones == true){
                <div class="filtroPermisos">
                    <form method="get" asp-page="PermisoLicencias">
                        <input type="hidden" name="accion" value="confirmacionVacacionJefe"/>
                        <button type="submit" id="botonconfirmarLicenciasJefe" class="btnAprobarPermisos">Tienes solicitudes</button>
                    </form>

                </div>
            }

        </div>
    }
    
    <!-- RH y Admin confirmen y vean el historial de todos los permisos-->
    @if (@Model.TipoAccion == "confirmarLicencia" || @Model.TipoAccion == "confirmarVacacion"){
        <div class="filtrosPermisos">
            <form method="get" asp-page="PermisoLicencias">
                <div class="filtroPermisos">
                    <label for="tipoPermiso">Tipo Permiso:</label>
                    <select name="accion">
                        <option value="confirmacionLicencia" selected="@(Permiso == "confirmacionLicencia" ? "selected" : null)">Licencias</option>
                        <option value="confirmacionVacacion" selected="@(Permiso == "confirmacionVacacion" ? "selected" : null)">Vacaciones</option>
                    </select>
                </div>

                <div class="filtroPermisos">
                    <label for="año">Año:</label>
                    <select id="selectAnio" name="año">
                       
                    </select>
                </div>

                <div class="filtroPermisos">
                    <label for="mes">Mes:</label>
                    <select id="selectMes" name="mes">
                        <option value="1" selected="@(Mes == 1 ? "selected" : null)">Enero</option>
                        <option value="2" selected="@(Mes == 2 ? "selected" : null)">Febrero</option>
                        <option value="3" selected="@(Mes == 3 ? "selected" : null)">Marzo</option>
                        <option value="4" selected="@(Mes == 4 ? "selected" : null)">Abril</option>
                        <option value="5" selected="@(Mes == 5 ? "selected" : null)">Mayo</option>
                        <option value="6" selected="@(Mes == 6 ? "selected" : null)">Junio</option>
                        <option value="7" selected="@(Mes == 7 ? "selected" : null)">Julio</option>
                        <option value="8" selected="@(Mes == 8 ? "selected" : null)">Agosto</option>
                        <option value="9" selected="@(Mes == 9 ? "selected" : null)">Septiembre</option>
                        <option value="10" selected="@(Mes == 10 ? "selected" : null)">Octubre</option>
                        <option value="11" selected="@(Mes == 11 ? "selected" : null)">Noviembre</option>
                        <option value="12" selected="@(Mes == 12 ? "selected" : null)">Diciembre</option>
                    </select>
                </div>


                <div class="filtroPermisos">
                    <button type="submit" class="btnFiltrarPermisos">Filtrar Permisos</button>
                </div>
            </form>

            <div class="filtroPermisos">
                <button type="button" class="btnCalendarioPermisos" onclick="window.location.href='/CalendarioPermisos'">Calendario Permisos</button>
            </div>
        
        </div>
    }
    

    <!-- Tabla de Licencias -->
    @if (!string.IsNullOrEmpty(Model.TipoPermiso) && Model.TipoPermiso == "licencia")
    {
        <div class="tabla" id="tablaLicencias">
            <table>
                <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Solicitud de fecha</th>
                        <th>Fechas de ausencia</th>
                        <th>Reincorporación</th>
                        <th>Estatus</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var licencia in Model.licencias)
                    {
                        <tr class="@(licencia.Pendiente ? "filaPendienteAprobar" : "")">
                            <td>@licencia.TipoLicencia</td>
                            <td>@licencia.FechaSolicitud.ToString("dd/MM/yyyy")</td>
                            <td>@licencia.FechaInicio.ToString("dd/MM/yyyy") - @licencia.FechaFin.ToString("dd/MM/yyyy")</td>
                            <td>@licencia.Reincorporacion.ToString("dd/MM/yyyy")</td>
                            <td class="status enviada">(@licencia.Estatus)</td>
                            <td>
                                <div>
                                    @if(Model.TipoAccion == "confirmarLicencia"){
                                        @if(Model.idPuesto == 5){
                                            <button class="btn-detalles" data-id="@licencia.Id" onclick="cargarDetalleLicenciaGerente(this)">
                                                @(licencia.Pendiente ? "Pendiente" : "Ver detalles")
                                            </button>
                                        }else if(Model.idPuesto == 3){
                                            <button class="btn-detalles" data-id="@licencia.Id" onclick="cargarDetalleLicenciaRH(this)">
                                                @(licencia.Pendiente ? "Pendiente" : "Ver detalles")
                                            </button>
                                        }
                                    }else if(Model.TipoAccion == "confirmarLicenciaJefe"){
                                        <button class="btn-detalles" data-id="@licencia.Id" onclick="cargarDetalleLicenciaJefe(this)">Ver detalles</button>
                                    }else{
                                        <button class="btn-detalles" data-id="@licencia.Id" onclick="cargarDetalleLicencia(this)">Ver detalles</button>
                                    }
                                    
                                    @if(@licencia.IdEstatus == 1)
                                    {
                                        <form method="post" asp-page-handler="EliminarLicencia">
                                            <input type="hidden" name="id" value="@licencia.Id">
                                            <button class="btn-eliminar" data-id="@licencia.Id">
                                                <i class="fa-solid fa-trash-can fa-xl"></i>
                                            </button>
                                        </form>

                                        <form method="post" asp-page-handler="EnviarLicencia">
                                            <input type="hidden" name="id" value="@licencia.Id">
                                            <button class="btn-enviar" data-id="@licencia.Id">
                                                <i class="fa-regular fa-paper-plane fa-xl"></i>
                                            </button>
                                        </form>
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    

    <!-- Tabla de Vacaciones -->
    @if (!string.IsNullOrEmpty(Model.TipoPermiso) && Model.TipoPermiso == "vacacion")
    {
        <div class="tabla" id="tablaVacaciones">
            <table>
                <thead>
                    <tr>
                        <th>Fecha de Registro</th>
                        <th>Solicitud de Fechas</th>
                        <th>Año Pedidas</th>
                        <th>Días Solicitados</th>
                        <th>Reincorporación</th>
                        <th>Estatus</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var vacacion in Model.vacaciones)
                    {
                        <tr class="@(vacacion.Pendiente ? "filaPendienteAprobar" : "")"> 
                            <td>@vacacion.FechaInicio.ToString("dd/MM/yyyy")</td>
                            <td>@vacacion.FechaInicio.ToString("dd/MM/yyyy") - @vacacion.FechaFin.ToString("dd/MM/yyyy")</td>
                            <td>@vacacion.FechaInicio.ToString("yyyy")</td>
                            <td>@vacacion.DiasUsados</td>
                            <td>@vacacion.Reincorporacion.ToString("dd/MM/yyyy")</td>
                            <td class="status enviada">(@vacacion.Estatus)</td>
                            <td>
                                <div>
                                    @if(Model.TipoAccion == "confirmarVacacion"){
                                        @if(Model.idPuesto == 5){
                                            <button class="btn-detalles" data-id="@vacacion.Id" onclick="cargarDetalleVacacionGerente(this)">
                                                @(vacacion.Pendiente ? "Pendiente" : "Ver detalles")
                                            </button>
                                        }else if(Model.idPuesto == 3){
                                            <button class="btn-detalles" data-id="@vacacion.Id" onclick="cargarDetalleVacacionRH(this)">
                                                @(vacacion.Pendiente ? "Pendiente" : "Ver detalles")
                                            </button>
                                        }
                                    }else if(Model.TipoAccion == "confirmarVacacionJefe"){
                                        <button class="btn-detalles" data-id="@vacacion.Id" onclick="cargarDetalleVacacionJefe(this)">Ver detalles</button>
                                    }else{
                                        <button class="btn-detalles" data-id="@vacacion.Id" onclick="cargarDetalleVacacion(this)">Ver detalles</button>
                                    }
                                    
                                    @if(@vacacion.IdEstatus == 1)
                                    {
                                        <!-- Botón de eliminación sin formulario -->
                                        <form method="post" asp-page-handler="EliminarVacacion">
                                            <input type="hidden" name="id" value="@vacacion.Id" asp-route-id="@vacacion.Id"/>
                                            <button type="submit" class="btn-eliminar">
                                                <i class="fa-solid fa-trash-can fa-xl"></i>
                                            </button>
                                        </form>

                                        <!-- Formulario para enviar la vacación -->
                                        <form method="post" asp-page-handler="EnviarVacacion">
                                            <input type="hidden" name="id" value="@vacacion.Id" asp-route-id="@vacacion.Id"/>
                                            <button type="submit" class="btn-enviar">
                                                <i class="fa-regular fa-paper-plane fa-xl"></i>
                                            </button>
                                        </form> 
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    
    <!-- Modal de licencia -->
    <div id="modalLicencia" class="modal-overlay" style="display: none;">
        <input type="hidden" id="licenciaIdSeleccionada" value="">
        <!--boton de cierre del modal-->
        <button class="modal-cerrar" id="cerrarModalLicencia" onclick="cerrarModal()">X</button>
        <div class="modal-contenido">
            <div class="modal-header">
            <h2 id="tituloModalLicencia" class="titulo-modal">Agregar nueva licencia</h2>
            <h2 id="tituloModalLicenciaDetalle" class="titulo-modal">Detalles de la licencia</h2>
            <div class="solicitud-contenedor btn-solicitud">
                <button class="boton-pdf btn-solicitud"> 
                    <i class="fa-solid fa-file-pdf fa-xl"></i>
                </button>
                <button id="btnDescargarPDF" onclick="descargarPdfLicencia()" class="solicitud-boton btn-solicitud">
                    Descargar PDF
                </button>
            </div>
        </div>

            
            <form method="post" asp-page-handler="RegistroLicencias">
                <div id="JefeYTipoLicencia">  
                    <div class="modal-header-inputs">
                        <div class="input-grupo tipo-licencia">
                            <label for="tipoLicencia">Tipo de licencia:</label>
                            <select id="tipoLicencia" name="infoLicencia.IdTipoLicencia" class="select-input" onchange="bloquearFechaHasta()" required>
                                <option value="" disabled selected></option>
                                @foreach(var tipoLicencia in Model.tiposLicencias)
                                {
                                    <option value="@tipoLicencia.Id">@tipoLicencia.Licencia</option>
                                }
                            </select>
                        </div>
                        <div class="input-grupo jefe-inmediato">
                            <label for="jefeInmediato">Jefe inmediato:</label>
                            <select id="jefeInmediatoLicencias" name="infoLicencia.IdJefeDirecto" class="select-input" required>
                                <option value="" disabled selected></option>
                                @foreach(var usuario in Model.usuarios)
                                {
                                    <option value="@usuario.Id">@usuario.Nombre</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>

                <div id="JefeYTipoLicenciaParaConfirmar" style="display: none;"> 
                    <div class="modal-header-inputs">
                        <div class="input-grupo tipo-licencia">
                            <label for="tipoLicenciaConfirmar">Tipo de licencia:</label>
                            <input type="text" id="tipoLicenciaConfirmar">
                            
                        </div>
                        <div class="input-grupo tipo-licencia">
                            <label for="UsuarioLicencia">Usuario:</label>
                            <input type="text" id="UsuarioLicencia">
                            
                        </div>
                        <div class="input-grupo jefe-inmediato" id="SeccionjefeInmediatoConfirmar">
                            <label for="jefeInmediatoConfirmar">Jefe inmediato:</label>
                            <input type="text" id="jefeInmediatoConfirmar">
                        </div>
                    </div>
                </div>
                
                
                <div class="modal-header-line"></div>
                
                <div class="modal-body">
                    <div class="formulario">
                        <input type="hidden" id="idLicenciaConfirmar"></input>
                        <div class="fechas">
                            <div class="grupo-fecha">
                                <label for="fechaDeLicencia">De:</label>
                                <input type="date" id="fechaDeLicencia" name="infoLicencia.FechaInicio" required>
                            </div>
                            <div class="grupo-fecha">
                                <label for="fechaHastaLicencia">Hasta:</label>
                                <input type="date" id="fechaHastaLicencia" name="infoLicencia.FechaFin" required>
                            </div>
                        </div>  
                        <div class="fechass">
                            <div id="FechasReincorporacionSolicitud" style="display: none;">
                                <div class="grupo-fecha">
                                    <label for="fechaReincorporacionLicencia">Reincorporacion:</label>
                                    <input type="date" id="fechaReincorporacionLicencia">
                                </div>
                                <div class="grupo-fecha">
                                    <label for="fechaSolicitudLicencia">Solicitud:</label>
                                    <input type="date" id="fechaSolicitudLicencia">
                                </div>  
                                <div class="grupo-fecha">
                                    <label for="EstatusLicencias">Estatus</label>
                                    <input type="text" id="estatuslicencia">
                                </div>
                            </div>
                        </div>                
                        <div class="contenedor-comentario">
                            <label for="comentario">Comentario:</label>
                            <textarea id="comentarioLicencias" name="infoLicencia.Comentarios"></textarea>
                        </div>

                        @if(Model.idPuesto == 5){
                            <div class="contenedor-comentario" id="GerenteComentariosJefeLicencias" style="display: none;">
                                <label for="comentario">Comentario Jefe:</label>
                                <textarea id="GerentecomentarioLicenciasJefe" name="infoVacacion.ComentariosJefe"></textarea>
                            </div>

                            <div class="contenedor-comentario" id="GerenteComentariosRHLicencias" style="display: none;">
                                <label for="comentario">Comentario RH:</label>
                                <textarea id="GerentecomentarioLicenciasRH" name="infoVacacion.ComentariosRH"></textarea>
                            </div>

                            <div class="contenedor-comentario" id="GerenteComentariosGerenteLicencias" style="display: none;">
                                <label for="comentario">Comentario Gerente:</label>
                                <textarea id="GerentecomentarioLicenciasGerente" name="infoVacacion.ComentariosGerente"></textarea>
                            </div>
                        }else if(Model.idPuesto == 3){
                            if(Model.TipoAccion == "confirmarLicencia"){
                                <div class="contenedor-comentario" id="RHComentariosJefeLicencias" style="display: none;">
                                    <label for="comentario" >Comentario Jefe:</label>
                                    <textarea id="RHcomentarioLicenciasJefe" name="infoVacacion.ComentariosJefe"></textarea>
                                </div>

                                <div class="contenedor-comentario" id="RHComentariosRHLicencias" style="display: none;">
                                    <label for="comentario" >Comentario RH:</label>
                                    <textarea id="RHcomentarioLicenciasRH" name="infoVacacion.ComentariosRH"></textarea>
                                </div>

                                <div class="contenedor-comentario" id="RHComentariosGerenteLicencias" style="display: none;">
                                    <label for="comentario" >Comentario Gerente:</label>
                                    <textarea id="RHcomentarioLicenciasGerente" name="infoVacacion.ComentariosGerente"></textarea>
                                </div>
                            }else{
                                <div class="contenedor-comentario" id="UsuarioComentariosGerenteLicencias" style="display: none;">
                                    <label for="comentario">Comentario Gerente:</label>
                                    <textarea id="comentarioLicenciasGerente" name="infoVacacion.ComentariosGerente"></textarea>
                                </div>
                            }
                        }else{
                            if(Model.TipoAccion == "confirmarLicenciaJefe"){
                                <div class="contenedor-comentario">
                                    <label for="comentario">Comentario Jefe:</label>
                                    <textarea id="comentario-LicenciasJefe" name="infoVacacion.ComentariosJefe"></textarea>
                                </div>
                            }else{
                                <div class="contenedor-comentario" id="UsuarioComentariosJefeLicencias" style="display: none;">
                                    <label for="comentario">Comentario Jefe:</label>
                                    <textarea id="comentarioLicenciasJefe" name="infoVacacion.ComentariosJefe"></textarea>
                                </div>

                                <div class="contenedor-comentario" id="UsuarioComentariosRHLicencias" style="display: none;">
                                    <label for="comentario">Comentario RH:</label>
                                    <textarea id="comentarioLicenciasRH" name="infoVacacion.ComentariosRH"></textarea>
                                </div>

                                <div class="contenedor-comentario" id="UsuarioComentariosGerenteLicencias" style="display: none;">
                                    <label for="comentario">Comentario Gerente:</label>
                                    <textarea id="comentarioLicenciasGerente" name="infoVacacion.ComentariosGerente"></textarea>
                                </div>
                            }
                        }
                    </div>
                </div>
                
                <div class="modal-footer-vacacion">
                    <p class="aviso">Recuerda: </p>
                    <div class="modal-header-line-vacacion"></div>
                    <p id="textoDiasSabados" class="aviso">Los días sábados también se tomarán en cuenta en tus licencias.</p>
                    <p id="textoDiasSabadosDetalle" class="aviso">Los sábados fueron considerados en el cálculo de tus licencias.</p>
                    <p id="textoDiasSabadosJefes" class="aviso">Los sábados fueron considerados en el cálculo de las licencias.</p>
                    @if(Model.idPuesto == 5){
                        <div class="botones-footer" id="SeccionBotonesConfirmarLicenciaGerente" style="display: none;">
                            <button type="button" class="boton cancelar" onclick="confirmarLicencia(9)">Rechazar</button>
                            <button type="button" class="boton crear" onclick="confirmarLicencia(8)">Confirmar</button>
                        </div>

                        <div class="botones-footer" id="SeccionBotonesCerrarLicenciaGerente" style="display: none;">
                            <button type="button" class="boton cancelar" id="cerrarModalFooterLicencia" onclick="cerrarModal()">Cancelar</button>
                        </div>
                    }else if(Model.idPuesto == 3){
                        if(Model.TipoAccion == "confirmarLicencia"){
                            <div class="botones-footer" id="SeccionBotonesConfirmarLicenciaRH" style="display: none;">
                                <button type="button" class="boton cancelar" onclick="confirmarLicencia(7)">Rechazar</button>
                                <button type="button" class="boton crear" onclick="confirmarLicencia(6)">Confirmar</button>
                            </div>

                            <div class="botones-footer" id="SeccionBotonesCerrarLicenciaRH" style="display: none;">
                                <button type="button" class="boton cancelar" id="cerrarModalFooterLicencia" onclick="cerrarModal()">Cancelar</button>
                            </div>
                        }else{
                            <div class="botones-footer">
                                <button type="button" class="boton cancelar" id="cerrarModalFooterLicencia" onclick="cerrarModal()">Cancelar</button>
                                <button type="submit" class="boton crear" id="botonCrearLicencias">Crear nueva</button>
                            </div>
                        }
                        
                    }else{
                        if(Model.TipoAccion == "confirmarLicenciaJefe"){
                            
                            <div class="botones-footer" id="SeccionBotonesConfirmarLicenciaJefe">
                                <button type="button" class="boton cancelar" onclick="confirmarLicenciaJefe(4)">Rechazar</button>
                                <button type="button" class="boton crear" onclick="confirmarLicenciaJefe(3)">Confirmar</button>
                            </div>
                              
                        }else{
                            <div class="botones-footer" id="SeccionBotonesSolicitarLicencia">
                                <button type="button" class="boton cancelar" id="cerrarModalFooterLicencia" onclick="cerrarModal()">Cancelar</button>
                                <button type="submit" class="boton crear" id="botonCrearLicencias">Crear nueva</button>
                            </div>
                        }
                    }       
                </div>  
            </form>
        </div>
    </div>

    <!-- Modal de Vacaciones -->
    <div id="modalVacaciones" class="modal-overlay" style="display: none;">
        <input type="hidden" id="IdVacacionConfirmar" value="">
        <button class="modal-cerrar" id="cerrarModalVacaciones" onclick="cerrarModal()">X</button>
        <div class="modal-contenido">
            <div class="modal-header">
                <h2 id="tituloModalVacaciones" class="titulo-modal">Crear nueva solicitud</h2>
                <h2 id="tituloModalVacacionesDetalle" class="titulo-modal">Detalles de la vacación</h2>
                <div class="modal-header-inputs">
                    <div class="input-grupo sin-circulo" id="diasDisponiblesVacaciones">
                        <label for="diasDisponibles">Días disponibles: </label>
                        <input type="number" id="diasDisponibles" name="infoVacaciones.DiasDisponibles" value="@Model.DiasDisponiblesVacaciones" readonly>
                    </div>
                    <div class="solicitud-contenedor btn-solicitud">
                        <button class="boton-pdf btn-solicitud">
                            <i class="fa-solid fa-file-pdf fa-xl"></i>
                        </button>
                        <button id="btnDescargarPDF" onclick="descargarPdfVacacion()" class="solicitud-boton btn-solicitud">
                            Descargar PDF
                        </button>
                    </div>
                </div>
            </div>
            <form method="post" asp-page-handler="RegistroVacaciones">
                <div class="modal-body">
                    <div class="formulario">
                        <input type="hidden" id="idVacacionConfirmar"></input>
                        <div class="fechas">
                            <div class="campo">
                                <label for="fechaDeVacacion">De:</label>
                                <input type="date" id="fechaDeVacacion" name="infoVacacion.FechaInicio" required>
                            </div> 
                            <div class="campo">
                                <label for="fechaHastaVacacion">Hasta:</label>
                                <input type="date" id="fechaHastaVacacion" name="infoVacacion.FechaFin" required>
                            </div>  
                            <div class="campo" id="ReincorporacionVacaciones" style="display: none;">
                                <label for="fechaReincorporacionVacacion">Reincorporacion:</label>
                                <input type="date" id="fechaReincorporacionVacacion">
                            </div>
                        </div> 
                        <div class="fechas" id="DetallesVacaciones" style="display: none;">
                            <div class="campo">
                                <label for="estatusVacaciones">Estatus: </label>
                                <input type="text" id="estatusVacacion">
                            </div>
                            <div class="campo">
                                <label for="fechaSolicitudVacacion">Solicitud:</label>
                                <input type="date" id="fechaSolicitudVacacion">
                            </div>
                            <div class="campo">
                                <label for="diasUsados" >Días usados: </label>
                                <input type="number" id="diasUsadosVacaciones" readonly>
                            </div>
                        </div> 

                        <div id="SeccionJefeDirecto">
                            <div class="input-grupo jefe-solicitud">
                                <label for="jefeInmediato">Jefe inmediato:</label>
                                <select id="jefeInmediatoVacaciones" name="infoVacacion.IdJefeDirecto" class="select-input" @(Model.TipoAccion == "confirmarVacacionJefe" ? "" : "required")>
                                    <option value="" disabled selected></option>
                                    @foreach(var usuario in Model.usuarios)
                                    {
                                        <option value="@usuario.Id">@usuario.Nombre</option>
                                    }
                                </select>
                                
                            </div>
                        </div>

                        <div itemid="SeccionJefeDirectoParaVcaciones" style="display: none ;">
                            <div id="seccionJefeDirectoVacacion" class="input-grupo jefe-solicitud">
                                <label for="jefeInmediatoConfirmar">Jefe inmediato:</label>
                                <input type="text" id="jefeInmediatoParaVacacion">   
                            </div>
                        </div>

                        <div id="SeccionJefeDirectoConfirmar" style="display: none;">
                            <div id="seccionJefeDirectoConfirmarVacacion" class="input-grupo jefe-solicitud">
                                <label for="jefeInmediatoConfirmar">Jefe inmediato:</label>
                                <input type="text" id="jefeInmediatoConfirmarVacacion">   
                            </div>

                            <div class="input-grupo jefe-solicitud">
                                <label for="usuarioVacacion">Usuario:</label>
                                <input type="text" id="usuarioVacacion">   
                            </div>
                        </div>
                        
                       <div class="contenedor-comentario">
                            <label for="comentario">Comentario:</label>
                            <textarea id="comentarioVacaciones" name="infoVacacion.Comentarios"></textarea>
                        </div>

                        @if(Model.idPuesto == 5){
                            <div class="contenedor-comentario" id="GerenteComentariosJefeVacaciones" style="display: none;">
                                <label for="comentario">Comentario Jefe:</label>
                                <textarea id="GerentecomentarioVacacionesJefe" name="infoVacacion.ComentariosJefe"></textarea>
                            </div>

                            <div class="contenedor-comentario" id="GerenteComentariosRHVacaciones" style="display: none;">
                                <label for="comentario">Comentario RH:</label>
                                <textarea id="GerentecomentarioVacacionesRH" name="infoVacacion.ComentariosRH"></textarea>
                            </div>

                            <div class="contenedor-comentario" id="GerenteComentariosGerenteVacaciones" style="display: none;">
                                <label for="comentario">Comentario Gerente:</label>
                                <textarea id="GerentecomentarioVacacionesGerente" name="infoVacacion.ComentariosGerente"></textarea>
                            </div>
                        }else if(Model.idPuesto == 3){
                            if(Model.TipoAccion == "confirmarVacacion"){
                                <div class="contenedor-comentario" id="RHComentariosJefeVacaciones" style="display: none;">
                                    <label for="comentario">Comentario Jefe:</label>
                                    <textarea id="RHcomentarioVacacionesJefe" name="infoVacacion.ComentariosJefe"></textarea>
                                </div>

                                <div class="contenedor-comentario" id="RHComentariosRHVacaciones" style="display: none;">
                                    <label for="comentario">Comentario RH:</label>
                                    <textarea id="RHcomentarioVacacionesRH" name="infoVacacion.ComentariosRH"></textarea>
                                </div>

                                <div class="contenedor-comentario" id="RHComentariosGerenteVacaciones" style="display: none;">
                                    <label for="comentario">Comentario Gerente:</label>
                                    <textarea id="RHcomentarioVacacionesGerente" name="infoVacacion.ComentariosGerente"></textarea>
                                </div>
                            }else{
                                <div class="contenedor-comentario" id="RHComentariosGerenteVacaciones" style="display: none;">
                                    <label for="comentario">Comentario Gerente:</label>
                                    <textarea id="RHcomentarioVacacionesGerente" name="infoVacacion.ComentariosGerente"></textarea>
                                </div>
                            }
                        }else{
                            if(Model.TipoAccion == "confirmarVacacionJefe"){
                                <div class="contenedor-comentario">
                                    <label for="comentario">Comentario Jefe:</label>
                                    <textarea id="comentarioVacacionesJefe" name="infoVacacion.ComentariosJefe"></textarea>
                                </div>
                            }else{
                                <div class="contenedor-comentario" id="UsuarioComentariosJefeVacaciones" style="display: none;">
                                    <label for="comentario">Comentario Jefe:</label>
                                    <textarea id="comentarioVacacionesJefe" name="infoVacacion.ComentariosJefe"></textarea>
                                </div>

                                <div class="contenedor-comentario" id="UsuarioComentariosRHVacaciones" style="display: none;">
                                    <label for="comentario">Comentario RH:</label>
                                    <textarea id="comentarioVacacionesRH" name="infoVacacion.ComentariosRH"></textarea>
                                </div>

                                <div class="contenedor-comentario" id="UsuarioComentariosGerenteVacaciones" style="display: none;">
                                    <label for="comentario">Comentario Gerente:</label>
                                    <textarea id="comentarioVacacionesGerente" name="infoVacacion.ComentariosGerente"></textarea>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="modal-footer-vacacion">
                    <p class="aviso">Recuerda: </p>
                    <div class="modal-header-line-vacacion"></div>
                    <p id="textoDiasSabados" class="aviso">Los días sábados se tomarán en cuenta en las vacaciones.</p>
                    @if(Model.idPuesto == 5){
                        <div class="botones-footer" id="SeccionBotonesConfirmarVacacionGerente" style="display: none;">
                            <button type="button" class="boton cancelar" onclick="confirmarVacacion(9)">Rechazar</button>
                            <button type="button" class="boton crear" onclick="confirmarVacacion(8)">Confirmar</button>
                        </div>

                        <div class="botones-footer" id="SeccionBotonesCerrarVacacionGerente" style="display: none;">
                            <button type="button" class="boton cancelar" id="cerrarModalFooterVacaciones" onclick="cerrarModal()">Cancelar</button>
                        </div>
                    }else if(Model.idPuesto == 3){
                        if(Model.TipoAccion == "confirmarVacacion"){
                            <div class="botones-footer" id="SeccionBotonesConfirmarVacacionRH" style="display: none;">
                                <button type="button" class="boton cancelar" onclick="confirmarVacacion(7)">Rechazar</button>
                                <button type="button" class="boton crear" onclick="confirmarVacacion(6)">Confirmar</button>
                            </div>

                            <div class="botones-footer" id="SeccionBotonesCerrarVacacionRH" style="display: none;">
                                <button type="button" class="boton cancelar" id="cerrarModalFooterVacaciones" onclick="cerrarModal()">Cancelar</button>
                            </div>
                        }else if(Model.TipoAccion == "solicitarVacacion"){
                            <div class="botones-footer">
                                <button type="button" class="boton cancelar" id="cerrarModalFooterVacaciones" onclick="cerrarModal()">Cancelar</button>
                                <button type="submit" class="boton crear" id="botonCrearVacacion">Crear nueva</button>
                            </div>
                        }
                    }else{
                        if(Model.TipoAccion == "confirmarVacacionJefe"){
                            <div class="botones-footer" id="seccionBotonesConfirmarVacacionesJefe">
                                <button type="button" class="boton cancelar" onclick="confirmarVacacionJefe(4)">Rechazar</button>
                                <button type="button" class="boton crear" onclick="confirmarVacacionJefe(3)">Confirmar</button>
                            </div>
                        }else{
                            <div class="botones-footer" id="seccionBotonesSolicitarVacaciones">
                                <button type="button" class="boton cancelar" id="cerrarModalFooterVacaciones">Cancelar</button>
                                <button type="submit" class="boton crear" id="botonCrearVacacion">Crear nueva</button>
                            </div>
                        }
                    }               
                </div>
            </form>        
        </div>
    </div>

    <!-- Botones para abrir los modales --> 
    <div class="contenedor-boton-agregar">
        <button class="botonAgregar" id="abrirModalLicencias">Crear nueva licencia</button>         
    </div>


    <div class="contenedor-boton-agregar">
        <button class="botonAgregar" id="abrirModalVacaciones">Crear nueva vacación</button>
    </div>
</div>
 
    
@section Scripts {
    <script>
        function guardarYRedirigirSolicitud(tipo) {
            let datosSolicitud = {};

            if (tipo === "licencia") {
                datosSolicitud = {
                    jefeInmediato: document.getElementById("jefeInmediatoLicencias").value,
                    tipoLicencia: document.getElementById("tipoLicencia").value,
                    fechaInicio: document.getElementById("fechaDeLicencia").value,
                    fechaFin: document.getElementById("fechaHastaLicencia").value,
                    reincorporacion: document.getElementById("fechaReincorporacionLicencia").value,
                    fechaSolicitud: document.getElementById("fechaSolicitudLicencia").value,
                    estatus: document.getElementById("estatuslicencia").value,
                    comentarios: document.getElementById("comentarioLicencias").value
                };
            } else if (tipo === "vacacion") {
                datosSolicitud = {
                    diasUsados: document.getElementById("diasUsados").value || '',
                    estatus: document.getElementById("estatusVacacion").value || '',
                    fechaInicio: document.getElementById("fechaDeVacacion").value || '',
                    fechaFin: document.getElementById("fechaHastaVacacion").value || '',
                    reincorporacion: document.getElementById("fechaReincorporacionVacacion").value || '',
                    fechaSolicitud: document.getElementById("fechaSolicitudVacacion").value || '',
                    comentarios: document.getElementById("comentarioVacaciones").value || '',
                    jefeInmediato: document.getElementById("jefeInmediatoVacaciones").value || ''
                };
            }

            // Guarda en localStorage
            localStorage.setItem("datosSolicitud", JSON.stringify(datosSolicitud));

            console.log("Datos guardados en localStorage:", datosSolicitud);

            // Redirige a la pantalla de solicitud
            window.location.href = "/SolicitudLicenciasVacaciones";
        }

        document.addEventListener('DOMContentLoaded', () => {  
            const botonLicencias = document.getElementById('botonLicencias');
            const botonVacaciones = document.getElementById('botonVacaciones');
            const tablaLicencias = document.getElementById('tablaLicencias');
            const tablaVacaciones = document.getElementById('tablaVacaciones');
            const tituloPagina = document.getElementById('tituloPagina');
            const modalLicencia = document.getElementById('modalLicencia');
            const abrirModalLicencias = document.getElementById('abrirModalLicencias');
            const cerrarModalLicencia = document.getElementById('cerrarModalLicencia');
            const modalVacaciones = document.getElementById('modalVacaciones');
            const abrirModalVacaciones = document.getElementById('abrirModalVacaciones');
            const cerrarModalVacaciones = document.getElementById('cerrarModalVacaciones');
            const cerrarModalFooterLicencia = document.getElementById('cerrarModalFooterLicencia');
            const cerrarModalFooterVacaciones = document.getElementById('cerrarModalFooterVacaciones');
 
            const botonAgregarLicencias = document.getElementById('abrirModalLicencias');
            const botonAgregarVacaciones = document.getElementById('abrirModalVacaciones');

            var tipoPermiso = "@Model.TipoPermiso";
            var tipoAccion = "@Model.TipoAccion";

            if (tipoAccion !== "confirmarLicenciaJefe" && tipoAccion !== "confirmarVacacionJefe"){
                //cargo el contenido del input de año para el formulario
                const selectAnio = document.getElementById("selectAnio");
                const currentYear = new Date().getFullYear();
                const selectedYear = @Model.Año; 

                for (let year = currentYear - 3; year <= currentYear + 3; year++) {
                    const option = document.createElement("option");
                    option.value = year;
                    option.textContent = year;
                    if (year === selectedYear) option.selected = true; 
                    selectAnio.appendChild(option);
                }
            }

            const mostrarTabla = (titulo, botonAgregarMostrar, botonAgregarOcultar) => {

                
                tituloPagina.textContent = titulo;

                if (tipoAccion === "solicitarLicencia" || tipoAccion === "solicitarVacacion") {
                    botonAgregarMostrar.style.display = 'block';
                }
                else{
                    botonAgregarMostrar.style.display = 'none';
                }
                botonAgregarOcultar.style.display = 'none';
            };

            if (tipoAccion === "solicitarLicencia") {
                mostrarTabla(
                    
                    'Sistema RRHH / Permisos Laborales / Licencias',
                    abrirModalLicencias,
                    abrirModalVacaciones
                );
            } else if (tipoAccion === "solicitarVacacion") {
                mostrarTabla(
                    
                    'Sistema RRHH / Permisos Laborales / Vacaciones',
                    abrirModalVacaciones,
                    abrirModalLicencias
                );
            } else if (tipoAccion === "confirmarLicencia") {
                mostrarTabla(
                    'Sistema RRHH / Permisos Laborales / Historial Licencias',
                    abrirModalLicencias,
                    abrirModalVacaciones
                );
            } else if (tipoAccion === "confirmarVacacion") {
                mostrarTabla(
                   'Sistema RRHH / Permisos Laborales / Historial Vacaciones',
                    abrirModalVacaciones,
                    abrirModalLicencias 
                )
            }else if (tipoAccion === "confirmarLicenciaJefe" ) {
                mostrarTabla(
                    'Sistema RRHH / Permisos Laborales / Confirmar Licencias',
                    abrirModalLicencias,
                    abrirModalVacaciones
                );
            } else if (tipoAccion === "confirmarVacacionJefe" ) {
                mostrarTabla(
                   'Sistema RRHH / Permisos Laborales / Confirmar Vacaciones',
                    abrirModalVacaciones,
                    abrirModalLicencias 
                )
            }

            // Abrir y cerrar modales
            abrirModalLicencias.addEventListener('click', () => {
                $('#jefeInmediatoLicencias').val('').prop('disabled', false);
                $('#tipoLicencia').val('').prop('disabled', false);
                $('#fechaDeLicencia').val('').prop('readonly', false);
                $('#fechaHastaLicencia').val('').prop('readonly', false);
                $('#comentarioLicencias').val('').prop('readonly', false);
                
                $('#FechasReincorporacionSolicitud').hide();
                $('#botonCrearLicencias').show();

                $('.btn-solicitud').hide();

                $('#tituloModalLicenciaDetalle').hide();
                $('#tituloModalLicencia').show();

                $('#textoDiasSabadosDetalle').hide();
                $('#textoDiasSabados').show();
                $('#textoDiasSabadosJefes').hide();

                $('#UsuarioComentariosJefeLicencias').hide();
                $('#UsuarioComentariosRHLicencias').hide();
                $('#UsuarioComentariosGerenteLicencias').hide();

                modalLicencia.style.display = 'block';
            });

            cerrarModalLicencia.addEventListener('click', () => {
                modalLicencia.style.display = 'none';
            });

            abrirModalVacaciones.addEventListener('click', () => {

                $('#diasUsadosVacaiones').hide();
                $('#diasDisponiblesVacaciones').show();
                $('#ReincorporacionVacaciones').hide();
                $('#DetallesVacaciones').hide();
                $('#VacacionEstatus').hide();
                $('#botonCrearVacacion').show();

                $('#tituloModalVacacionesDetalle').hide();
                $('#tituloModalVacaciones').show();

                $('#textoDiasSabadosDetalle').hide();
                $('#textoDiasSabados').show();

                $('.btn-solicitud').hide();

                modalVacaciones.style.display = 'block';
            });

            cerrarModalVacaciones.addEventListener('click', () => {

                $('#fechaDeVacacion').val('').prop('readonly', false);
                $('#fechaHastaVacacion').val('').prop('readonly', false);
                $('#jefeInmediatoVacaciones').val('').change().prop('disabled', false);
                $('#comentarioVacaciones').val('').prop('readonly', false);

                modalVacaciones.style.display = 'none';
            });

            cerrarModalFooterLicencia.addEventListener('click', () => {
                modalLicencia.style.display = 'none';
            });

            cerrarModalFooterVacaciones.addEventListener('click', () => {

                $('#fechaDeVacacion').val('').prop('readonly', false);
                $('#fechaHastaVacacion').val('').prop('readonly', false);
                $('#jefeInmediatoVacaciones').val('').change().prop('disabled', false);
                $('#comentarioVacaciones').val('').prop('readonly', false);

                modalVacaciones.style.display = 'none';
            });
            
            
            bloquearFechaHasta();

            
            document.getElementById('tipoLicencia').addEventListener('change', bloquearFechaHasta);


            
            function bloquearFechaHasta() {
                const tipoLicencia = document.getElementById('tipoLicencia').value;
                const fechaHasta = document.getElementById('fechaHastaLicencia');
                const tiposQueBloquean = [3, 6, 7, 9];

                if (tiposQueBloquean.includes(Number(tipoLicencia))) {
                    fechaHasta.value = '';
                    fechaHasta.disabled = true;
                } else {
                    fechaHasta.disabled = false;
                }
            }

            
            const message = '@Html.Raw(TempData["Message"])';
            const messageType = '@TempData["MessageType"]';
            const messageTitle = '@Html.Raw(TempData["MessageTitle"])';
            if (message) {
                Swal.fire({
                    title: messageTitle,
                    text: message,
                    icon: messageType,
                    confirmButtonText: "Aceptar"
                });
            }



            document.getElementById('tipoLicencia').addEventListener('change', bloquearFechaHasta);

            // Funcionalidad para desplegar el <select> al hacer clic en las flechas (círculos)
            const flechasCirculo = document.querySelectorAll('.flecha-circulo');
            flechasCirculo.forEach((flecha) => {
                flecha.addEventListener('click', () => {
                    const select = flecha.parentElement.querySelector('select');
                    if (select) {
                        select.focus();
                        select.click();
                    }
                });
            });

            
            
        });
        
        
        const fechaDeLicencia = document.getElementById('fechaDeLicencia');
        const fechaHastaLicencia = document.getElementById('fechaHastaLicencia');
        const fechaDeVacacion = document.getElementById('fechaDeVacacion');
        const fechaHastaVacacion = document.getElementById('fechaHastaVacacion');
        
        
        const hoy = new Date().toISOString().split('T')[0];
        
        
        fechaDeLicencia.setAttribute('min', hoy);
        fechaDeVacacion.setAttribute('min', hoy);
        fechaHastaLicencia.setAttribute('min', hoy);
        fechaHastaVacacion.setAttribute('min', hoy);

        // Validación cuando cambian las fechas "De" o "Hasta"
        fechaDeLicencia.addEventListener('change', validarFechasLicencia);
        fechaHastaLicencia.addEventListener('change', validarFechasLicencia);
        fechaDeVacacion.addEventListener('change', validarFechasVacaciones);
        fechaHastaVacacion.addEventListener('change', validarFechasVacaciones);

        // Función para validar las fechas de licencias
        function validarFechasLicencia() {
            const fechaDe = new Date(fechaDeLicencia.value);
            const fechaHasta = new Date(fechaHastaLicencia.value);

            
            if (fechaDe < new Date(hoy)) {
                alert('La fecha "De" no puede ser anterior a hoy.');
                fechaDeLicencia.value = hoy;  
            }

            
            if (fechaHasta < new Date(fechaDe)) {
                alert('La fecha "Hasta" no puede ser anterior a "De".');
                fechaHastaLicencia.value = fechaDe;  
            }
        }

        // Función para validar las fechas de vacaciones
        function validarFechasVacaciones() {
            const fechaDe = new Date(fechaDeVacacion.value);
            const fechaHasta = new Date(fechaHastaVacacion.value);

            
            if (fechaDe < new Date(hoy)) {
                alert('La fecha "De" no puede ser anterior a hoy.');
                fechaDeVacacion.value = hoy;  
            }

            
            if (fechaHasta < new Date(fechaDe)) {
                alert('La fecha "Hasta" no puede ser anterior a "De".');
                fechaHastaVacacion.value = fechaDe;  
            }
        }

        //esto es para que el textarea no permita borrar el comentario anterior 


        @* const textarea = document.getElementById("comentarioLicencias");

        const comentarioFijo = textarea.value + "\n"; // ← Una línea

        textarea.value = comentarioFijo;

        // Cursor al final
        textarea.setSelectionRange(textarea.value.length, textarea.value.length);
        textarea.focus();

        textarea.addEventListener("input", function(e) {
            // Si lo que se escribió está por delante del texto fijo, lo reponemos
            if (!textarea.value.startsWith(comentarioFijo)) {
                textarea.value = comentarioFijo;
                textarea.setSelectionRange(textarea.value.length, textarea.value.length);
            }
        }); *@
        
    </script>
}
<script src="~/js/permisos.js"></script>
