@page
@{
    ViewData["Title"] = "Registro";
    Layout = "_LayoutUsuarioRH";
}

@model Rush_Rh.Pages.Registro
@section Styles {
    <link rel="stylesheet" href="~/css/registro.css">
}
@{
    <div class="contenido ">
        <h1>Sistema RRHH / Registro de personal</h1> <br>
            <form method="post"id="formRegistro" asp-page-handler="RegistrarUsuario">
            <div class="row">
                <div class="form-group">
                    <label for="nombres">Nombre(s):</label>
                    <input type="text" id="nombres" name="info.Nombre" required>
                </div>
                <div class="form-group">
                    <label for="apellidoPaterno">Apellido Paterno:</label>
                    <input type="text" id="apellidoPaterno" name="info.ApellidoPaterno" required>
                </div>
                <div class="form-group">
                    <label for="apellidoMaterno">Apellido Materno:</label>
                    <input type="text" id="ApellidoMaterno" name="info.ApellidoMaterno" required>
                </div>
            </div>   
            <div class="row">
                <div class="form-group">
                    <label for="genero">Género:</label>
                    <select id="genero" name="info.IdGenero" required>
                        <option value="" disabled selected>Seleccione una opción</option>
                        @foreach(var genero in Model.generos)
                        {
                        <option value="@genero.Id">@genero.Nombre</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="sexo">Sexo:</label>
                    <select id="sexo" name="info.IdSexo" required>
                        <option value="" disabled selected>Seleccione una opción</option>
                        @foreach(var sexo in  Model.sexos )
                        {
                            <option value="@sexo.Id">@sexo.Nombre</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="nacionalidad">Nacionalidad:</label>
                    <select id="nacionalidad" name="info.Nacionalidad" required>
                        <option value="" disabled selected>Seleccione una opción</option>
                        @foreach(var nacionalidad in Model.nacionalidades)
                        {
                            <option value="@nacionalidad.Id">@nacionalidad.Nombre</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="estadocivil">Estado Civil:</label>
                    <select id="estadocivil" name="info.IdEstadocivil" required>
                        <option value="" disabled selected>Seleccione una opción</option>
                        @foreach(var estadocivil in Model.estadosCiviles)
                        {
                            <option value="@estadocivil.Id">@estadocivil.Nombre</option>
                        }                 
                    </select>
                </div>
            </div> 
            <div class="row">
                <div class="form-group">
                    <label for="fechanacimiento">Fecha de nacimiento:</label>
                    <input type="date" id="fechanacimiento" name="info.FechaNacimiento" required>
                </div>
                <div class="form-group">
                    <label for="fechanacimiento">Tipo de usuario:</label>
                    <select name="info.IdTipoUsuario" required>
                        <option value="" disabled selected>Seleccione una opción</option>
                        @foreach(var tipo in Model.tiposUsuario)
                        {
                            <option value="@tipo.Id">@tipo.Nombre</option>
                        }                 
                    </select>
                </div>
            </div>
            <div class="final-section">
                <div class="inputs-columna">
                    <div class="form-group">
                        <label for="curp">Curp:</label>
                        <input type="text" id="curp" name="info.CURP" required>
                    </div>
                    <div class="form-group">
                        <label for="rfc">RFC:</label>
                        <input type="text" id="rfc" name="info.RFC" required>
                    </div>
                    <div class="form-group">
                        <label for="rfc">NUE:</label>
                        <input type="text" id="nue" name="info.NUE" required>
                    </div>
                </div>
                <div class="barra-vertical"></div>
                <div class="recordatorio-columna">
                    <p class="recordatorio">
                        Una vez que hayas completado todos los campos, puedes proceder a guardarlos. <br> Nota: Para dar de alta un usuario, es necesario asignarle un Kardex<br><br>
                        <button type="submit" class="botonenviar">Guardar</button>
                    </p>
                    
                </div>
            </div>
        </form>
        
    </div>
}

@section Scripts{
    <script>
        // Mostrar mensaje de alerta que vienen desde controlador
        document.addEventListener("DOMContentLoaded", function() {
            const message = '@Html.Raw(TempData["Message"])';
            const messageType = '@TempData["MessageType"]';
            const messageTitle = '@Html.Raw(TempData["MessageTitle"])';

            if (message) {
                Swal.fire({
                    title: messageTitle,
                    text: message,
                    icon: messageType,
                    confirmButtonText: "Aceptar"
                });
            }

        });
    </script>
}
<!--script src="~/js/usuarios.js"></script-->


